html {
    background-color: #0E1424;
    color: white;
}
.header {
    padding: 25px;
    background-color: #1C2833;
    width: 95%;
    padding: 16px 20px 30px ;
    display: flex;
    align-items: center;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    color: rgb(255, 255, 255);
    font-size: 16px;
}